<component name="ArtifactManager">
  <artifact type="war" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.war">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="PLCStudyCloudFile" />
          <element id="dir-copy" path="$PROJECT_DIR$/web" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="servlet-api" />
          <element id="library" level="project" name="fastjson-1.2.76" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="PLCStudyCloudFile/web/Web" />
    </root>
  </artifact>
</component>